@media only screen and (min-width:1200px) and (max-width:1600px) {
    .colour #width {
        width: 50%;
        height: 100%;
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .colour #width {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .colour #width {
        width: 5%;
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .colour #width {
        width: 10%;
    }
}

@media only screen and (max-width:767px) {
    .colour #width {
        width: 7%;
    }
}

.sizeing {
    position: relative;
    top: 9px;
}

nav {
    background-color: #f8870fe0;

}

.responsive-layout .bg-dark {
    background-color: #f8870fe0 !important;

}

.colour a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;

}

@media (min-width:1500px) and (max-width:3000px) {
    #moving_top1 {
        position: relative;
        top: 12px;
    }
}

@media (min-width:1440px) and (max-width:1499px) {
    #moving_top1 {
        position: relative;
        top: 12px;
    }
}

@media (min-width:1500px) and (max-width:3000px) {
    #moving_topn {
        position: relative;
        top: 12px;
    }
}

@media (min-width:1440px) and (max-width:1499px) {
    #moving_topn {
        position: relative;
        top: 12px;
    }
}

@media (min-width:1024px) and (max-width:1440px) {
    #moving_topn {
        position: relative;
        top: 12px;
    }
}

@media (min-width:1024px) and (max-width:1440px) {
    .moving_tp {
        position: relative;
        top: 0px;
    }
}

@media (min-width:1024px) and (max-width:1440px) {
    #flag {
        position: relative;
        top: 0px;
    }
}

@media (min-width:1024px) and (max-width:1440px) {
    #mobileno {
        position: relative;
        top: 0px;
    }
}

@media (min-width:1441px) and (max-width:1600px) {
    #flag {
        position: relative;
        top: 0px;
    }
}

@media (min-width:1441px) and (max-width:1600px) {
    #mobileno {
        position: relative;
        top: 0px;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    #flag {
        position: relative;
        left: 0px;
    }
}

@media only screen and (max-width:475px) {
    #flag {
        position: relative;
        left: 0px;
    }
}


#sizing1 {
    width: 100%;
    height: 100%;
    position: relative;
    top: 20px;
}

@media only screen and (max-width:475px) {
    #sizing1 {
        width: 50%;
        position: relative;
        left: 80px;
    }
}


/* button */
body .tab-content {
    color: #495047;
}

.buttoon {
    background-color: #f8880f;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    padding: 23px 40px;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
    transition: color .4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;

}

.buttoon:hover::before {
    transform: scaleX(1);
    color: #fff !important;
    z-index: -1;
}

.buttoon::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffce25;
    z-index: 1;
    border-radius: 5px;
    transition: transform .5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
    transform: scaleX(0)
}

.buttoon1 {
    background-color: #f8880f;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    padding: 18px;
    width: 100%;
    box-sizing: border-box;
    margin: 10px;
    cursor: pointer;
    transition: color .4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
}

.buttoon1:hover::before {
    transform: scaleX(1);
    color: #fff !important;
    z-index: -1;
}

.buttoon1::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffce25;
    z-index: 1;
    border-radius: 5px;
    transition: transform .5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
    transform: scaleX(0)
}

.password {
    margin-top: 15px;
}

.buttoon2 {
    background-color: #fff;
    color: grey;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 350;
    letter-spacing: 0px;
    line-height: 0;
    margin-bottom: 0;
    padding: 18px;
    width: 100%;
    box-sizing: border-box;
    margin: 10px;
    cursor: pointer;
    transition: color .4s linear;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0;
    border: thin solid #f8880f;

}

.modal-footer .align-items-center .center {
    margin-right: 182px;
    display: block;
    font-size: 18px;
    font-weight: 500;
    font-weight: bold;
    color: inherit;
    font-family: inherit;

}

.color a {
    color: #495047;
    background-color: lightgray;
    display: block;
    font-size: 18px;
    font-weight: 500;
    font-weight: lighter bold;
    font-family: inherit;
}

.color .nav-tabs .nav-link.active {
    /* color: #f8880f; */
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    display: block;
    font-size: 18px;
    font-weight: 500;
    font-weight: lighter bold;
    font-family: inherit;
}

.color a:hover {
    color: #495047;
}

.color .nav-tabs .nav-link {
    margin-bottom: -1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    width: 50%;
}

/* Icon 1 */

.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {
    background: #e65100;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

@media only screen and (min-width:1200px) and (max-width:1600px) {
    .seconddiv {
        position: relative;
        left: 135px;
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .seconddiv {
        position: relative;
        left: 70px;
    }
}

/* button end */

/* 2nd header */
.seconddiv .mydiv .mydiv_style a:hover {
    color: #f8870fe0;
}

/* end of 2nd header */

.success1 h6 {
    position: relative;
    left: 87px;
    font-family: serif;
    font-weight: bold;
}

.success1 p {
    position: relative;
    font-family: serif;
}

.success1 img {
    position: relative;
    width: 100px;
}

.bc {
    position: relative;
    top: 30px;
}

.bc .bc1 {
    position: relative;
    left: 150px;
}

.font3 a,
p {
    position: relative;
    color: black;
    font-family: serif;
    font-weight: 200;
}

.font3 p {
    position: relative;
    color: black;
    font-family: serif;
    font-weight: bold;
}

.font3 a:hover {
    position: relative;
    color: black;
}

.font1 a {
    position: relative;
    color: black;
    font-family: serif;
    font-weight: bold;
}

.font a {
    position: relative;
    color: black;
    font-family: serif;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
}

.list .list1 .font1 a:hover {
    color: black;
}

.font p {
    position: relative;
    color: #6c757d;
    font-family: serif;
    text-align: left;
    font-size: 20px;
}

.font p:hover {
    color: #e65100;
    background-color: lightgrey;
}

.font a:hover {
    color: black;
}

.list .font2 a {
    position: relative;
    color: #f8870fe0;
    font-family: serif;
    font-weight: bold;
}

.font3 i {
    color: #ffbc07;
}

.font3 i.low-star {
    color: #d3d3d3;
}

.font4 {
    position: relative;
    color: #6c757d;
    font-family: serif;
}

.important1 .font5 {
    position: relative;
    color: #6c757d;
    font-family: serif;
}

.important1 .font6 {
    position: relative;
    color: black;
    font-family: serif;
    font-weight: bold;
}

.important1 .font7 {
    position: relative;
    color: #f8870fe0;
    font-family: serif;
    font-weight: bold;
}

.price ul li.discount {
    color: #6c757d;
    text-decoration: line-through
}

.important .register {
    color: #f8870fe0;
    font-size: 30px;
    font-family: serif;
    font-weight: bold;
}

.important .sort {
    color: #6c757d;
    font-size: 20px;
    font-family: serif;
    float: right;
    bottom: -4px;
    left: 400px;
}

.important .price {
    position: relative;
    float: right;
    top: -1px;
    left: 187px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

.important1 .help {
    position: relative;
    font-size: 16px;
    color: #0404fde6;
    font-family: serif;
    font-weight: 500;
}

.important1 .return {
    position: relative;
    font-size: 20px;
    color: black;
    font-family: serif;
    font-weight: 500;
}

.pickup .progress-bar {
    background-color: #9d0505;

}

.start {
    color: #9d0505;
    font-family: serif;
    font-weight: bold;
    font-size: 20px;
}

.pick {
    position: relative;
    color: #9d0505;
    font-family: serif;
    font-weight: bold;
    font-size: 20px;
    right: -487px
}

.font7 {
    position: relative;
    color: black;
    font-family: serif;
    font-weight: bold;
    font-size: 20px;
}

.font9 {
    position: relative;
    color: black;
    font-family: serif;
    font-weight: bold;
    font-size: 20px;
    bottom: -6px;
}

.green {
    position: relative;
    color: green;
    font-size: 20px;
    font-family: serif;
    font-weight: bold;
}

.font8 {
    position: relative;
    font-family: serif;
    font-size: 20px;
}

#sizing4 {
    width: 25%;
}

#moving_top {
    font-family: serif;

}

#moving_top h6 {
    font-weight: bold;

}

.success {
    font-family: serif;
    text-align: center;
    border-spacing: 0px;
    position: relative;
    top: 300px;
}

.border_style {
    border-spacing: 0px;
    position: relative;
    top: 200px;
}

@media only screen and (min-width:1024px) and (max-width:1200px) {
    .important .register {
        font-size: 24px;
    }
}

@media only screen and (min-width:1024px) and (max-width:1200px) {
    .important .sort {
        color: #6c757d;
        font-size: 20px;
        font-family: serif;
        float: right;
        bottom: -4px;
        left: 300px;
    }
}

@media only screen and (min-width:1024px) and (max-width:1200px) {
    .important .price {
        position: relative;
        float: right;
        top: -1px;
        left: 155px;
    }
}

@media only screen and (min-width:1024px) and (max-width:1200px) {
    .pick {
        position: relative;
        color: #9d0505;
        font-family: serif;
        font-weight: bold;
        font-size: 20px;
        right: -333px
    }
}

@media only screen and (min-width:600px) and (max-width:1023px) {
    .important .register {
        font-size: 17px;
    }
}

@media only screen and (min-width:600px) and (max-width:1024px) {
    .important .sort {
        color: #6c757d;
        font-size: 17px;
        font-family: serif;
        float: right;
        bottom: -4px;
        left: 245px;
    }
}

@media only screen and (min-width:600px) and (max-width:1023px) {
    .important .price {
        position: relative;
        float: right;
        top: -1px;
        left: 155px;
    }
}

@media only screen and (min-width:600px) and (max-width:1023px) {
    .pick {
        position: relative;
        color: #9d0505;
        font-family: serif;
        font-weight: bold;
        font-size: 20px;
        right: -205px
    }
}

#mydiv_style {
    position: relative;
    top: 40px;
}

#first_row {
    position: relative;
    top: 30px;
}

#copyright {
    position: relative;
    top: 400px;
}

.success .subscribe {
    color: #fff;
    background-color: black;
    font-family: serif;
}

/* .list .list1 .font a {
    position: relative;
    left: -16px;
} */

.list .list1 .font1 a {
    position: relative;
    left: -16px;
}

.list .list1 .font1 div {
    position: relative;
    left: -16px;
}

@media (min-width:320px) and (max-width:374px) {
    .list .list2 {
        position: relative;
        left: -110px;
        bottom: -20px;
    }
}

@media (min-width:320px) and (max-width:374px) {
    .bc .bc1 {
        position: relative;
        left: 73px;
    }
}

@media (min-width:320px) and (max-width:374px) {
    .bc {
        position: relative;
        top: 65px;
        bottom: 10px;
    }
}

/* @media (min-width:320px) and (max-width:374px) {
div#first_row {
    left: 104px;
    top: 50px;
} */
}

@media (min-width:320px) and (max-width:374px) {
    .pick {
        position: relative;
        color: #9d0505;
        font-family: serif;
        font-weight: bold;
        font-size: 20px;
        right: -61px;
    }
}

@media (min-width:300px) and (max-width:359px) {
    .important .sort {
        color: #6c757d;
        font-size: 20px;
        font-family: serif;
        float: right;
        bottom: -96px;
        left: -146px;
    }
}

@media (min-width:359px) and (max-width:375px) {
    .important .sort {
        color: #6c757d;
        font-size: 20px;
        font-family: serif;
        float: right;
        bottom: 7px;
        left: 164px;
    }
}

@media (min-width:375px) and (max-width:424px) {
    .list .list2 {
        position: relative;
        left: -110px;
        bottom: -20px;
    }
}

@media (min-width:375px) and (max-width:424px) {
    .bc .bc1 {
        position: relative;
        left: 73px;
    }
}

@media (min-width:375px) and (max-width:424px) {
    .bc {
        position: relative;
        top: 65px;
        bottom: 10px;
    }
}

/* @media (min-width:375px) and (max-width:424px) {
div#first_row {
    left: 104px;
    top: 50px;
} */
}

@media (min-width:375px) and (max-width:424px) {
    .pick {
        position: relative;
        color: #9d0505;
        font-family: serif;
        font-weight: bold;
        font-size: 20px;
        right: -61px;
    }
}

@media (min-width:375px) and (max-width:424px) {
    .important .sort {
        color: #6c757d;
        font-size: 20px;
        font-family: serif;
        float: right;
        bottom: -6px;
        left: 10px;
    }
}

@media (min-width:375px) and (max-width:424px) {
    .important .price {
        position: relative;
        float: right;
        top: 12px;
        left: 8px;
    }
}

/* asdfghjkl */
@media (min-width:425px) and (max-width:767px) {
    .list .list2 {
        position: relative;
        left: -110px;
        bottom: -20px;
        /* left: 160px;
        bottom: 633px; */
    }
}

@media (min-width:425px) and (max-width:767px) {
    .bc .bc1 {
        position: relative;
        left: 73px;
    }
}

@media (min-width:425px) and (max-width:767px) {
    .bc {
        position: relative;
        top: 65px;
        bottom: 10px;
    }
}

/* @media (min-width:425px) and (max-width:767px) {
div#first_row {
    left: 104px;
    top: 50px;
} */
}

@media (min-width:425px) and (max-width:767px) {
    .pick {
        position: relative;
        color: #9d0505;
        font-family: serif;
        font-weight: bold;
        font-size: 20px;
        right: -61px;
    }
}

@media (min-width:425px) and (max-width:767px) {
    .important .sort {
        color: #6c757d;
        font-size: 20px;
        font-family: serif;
        float: right;
        bottom: -6px;
        left: 10px;
    }
}

@media (min-width:425px) and (max-width:767px) {
    .important .price {
        position: relative;
        float: right;
        top: 12px;
        left: 8px;
    }
}


.text {
    color: #1f1f1f;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    cursor: pointer;
}

.text div:hover {
    color: #ff003c;
}


@media only screen and (min-width:577px) and (max-width:768px) {
    .content {
        display: none;
    }
}

@media only screen and (min-width:425px) and (max-width:576px) {
    .content {
        display: none;
    }
}

@media only screen and (min-width:375px) and (max-width:425px) {
    .content {
        display: none;
    }
}

@media only screen and (min-width:300px) and (max-width:375px) {
    .content {
        display: none;
    }
}


button.accordion {
    background-color: #fff;
    color: black;
    cursor: pointer;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
}

button.accordion.active,
button.accordion:hover {
    background-color: #fff;
}

button.accordion:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: 22px;
}

button.accordion.active:after {
    content: "\2212";

}

.accordion-panel {
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 20px;
    border: 1px solid #fff;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

div.padding {
    padding-left: 2px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.filter-box {
    border-radius: 0;

}

.filter-body {
    border: 1px solid #fff;
    padding: 10px 0;
    transition: height 0.2s ease-out;
    width: 100%;
}

.help {
    position: relative;
    color: #e65100;
}


#accordion button:focus {
    outline: 1px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}



/* dummy area */
#sizing4 {
    width: 25%;
}

#moving_top {
    font-family: serif;

}

#moving_top h6 {
    font-weight: bold;

}

.success0 .success00 .h5 {
    font-family: serif;
    text-align: center;
    border-spacing: 0px;
    position: relative;
    top: -37px;
}

.success {
    font-family: serif;
    text-align: center;
    border-spacing: 0px;
    position: relative;
    top: 225px;
}

.success0 {
    position: relative;
    top: 100px;
}

.border_style {
    border-spacing: 0px;
    position: relative;
    top: 200px;
}

.success1 h6 {
    position: relative;
    left: 87px;
    font-family: serif;
    font-weight: bold;
}

.success1 p {
    position: relative;
    font-family: serif;
}

.success1 img {
    position: relative;
    left: 87px;
    width: 100px;
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .success1 img {
        position: relative;
        left: 27px;

    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .success1 img {
        position: relative;
        left: 27px;

    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .success1 img {
        position: relative;
        left: 27px;

    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .success1 h6 {
        position: relative;
        left: 35px;

    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .success1 h6 {
        position: relative;
        left: 35px;

    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .success1 h6 {
        position: relative;
        left: 35px;

    }
}

#copyright {
    position: relative;
    top: 400px;
}

.success .subscribe {
    color: #fff;
    background-color: black;
    font-family: serif;
}

@media (min-width: 320px) and (max-width: 374px) {
    .success0 .success00 .h5 {

        font-family: serif;
        text-align: center;
        border-spacing: 0px;
        position: relative;
        top: -25px;
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    .success {
        font-family: serif;
        text-align: center;
        border-spacing: 0px;
        position: relative;
        top: 210px;
    }
}

@media (min-width:375px) and (max-width:424px) {
    .success0 .success00 .h5 {

        font-family: serif;
        text-align: center;
        border-spacing: 0px;
        position: relative;
        top: -25px;
    }
}

@media (min-width:375px) and (max-width:424px) {
    .success {
        font-family: serif;
        text-align: center;
        border-spacing: 0px;
        position: relative;
        top: 210px;
    }
}

@media (min-width:375px) and (max-width:424px) {
    .success1 img {
        position: relative;
        left: 115px;
        width: 100px;
    }
}

@media (min-width:375px) and (max-width:424px) {
    .success1 p {
        position: relative;
        font-family: serif;
        left: 33px;
    }
}

@media (min-width:375px) and (max-width:424px) {
    .success1 h6 {
        position: relative;
        left: 124px;
        font-family: serif;
        font-weight: bold;
    }
}

@media (min-width:425px) and (max-width:767px) {
    .success0 .success00 .h5 {

        font-family: serif;
        text-align: center;
        border-spacing: 0px;
        position: relative;
        top: -25px;
    }
}

@media (min-width:425px) and (max-width:767px) {
    .success {
        font-family: serif;
        text-align: center;
        border-spacing: 0px;
        position: relative;
        top: 210px;
    }
}

@media (min-width:425px) and (max-width:767px) {
    .success0 .success2 {
        position: relative;
        left: 51px;
    }
}

.internal {
    width: 31.75%;
    height: 100%;
    border: 1px solid lightgray;
    display: inline-block;
}


.center {
    float: left;
    width: 38.9%;
    height: 200px;
    border: 1px solid black;
    margin: 1px;
    overflow: hidden;
    /*will change this to hidden later to deny scolling to user*/
    white-space: nowrap;
}


@media only screen and (min-width:992px) and (max-width:1600px) {
    select#select1{
      position: relative;
      top: 20px;
    }
}
@media only screen and (min-width:992px) and (max-width:1600px) {
span.number{
    position: relative;
    top: 0px;
}
}



@media only screen and (min-width:992px) and (max-width:1600px) {
a#contact {
    position: relative;
    top: 10px;
}
}